.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}
h1 {
  text-align: center;
  font-size: 72pt;
  font-family: 'Century Gothic';
  text-shadow: 3px 3px 6px rgb(135, 46, 42);
}
img {
	
    border-radius: 20%;
}
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}
p{
	font-size: 42px;
	font-family: Calibri;
	color: #f02451;
}
.sidenav a:hover {
    color: #f1f1f1;
}
.rectangle {
  margin: 20px 200px;
  width: 78%;
  padding-bottom: 0px;
  border: 1px solid;
  background: #3d2e2d;
  font-style: italic;
  font-size: 60;
  font-weight: bold;
  border-radius: 50px 50px 50px 50px;
  padding-top: 0px;
}
.text {
  color: #ffffff;
  text-align: center;
  line-height: 100px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.26), 0 4px 12px rgba(0, 0, 0, 0.31);
}
.main {
	text-shadow: 3px 3px 6px rgb(0,0,0);
	color: white;
	font-family: 'Century Gothic';
	font-size: 26;
    margin-left: 220px;
    padding: 0px 10px;
}
h2{
	text-align: center;
	font-size: 50px;
	font-family: Calibri;
	color: #db0909
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
} 
span.quest {
	font-weight: bold;
}
label {
	margin-left: 15px;
	}
.nav {
	font-size: 17px;
}
h3{
	text-shadow: 3px 3px 6px rgb(0,0,0);
	color: white;
	font-family: 'Century Gothic';
	font-size: 26;
    margin-left: 220px;
    padding: 0px 10px;
}
.btn {
  font-family: Century Gothic;
  font-size: 20px;
  background-color: #db0909;
  color: #ffffff;
  border: 0px;
  border-radius: 3px;
  padding: 20px;
  cursor: pointer;
  margin-bottom: 20px;
}